<div class="title">
  <h1> Employee Dashboard</h1>
</div>
<div class="img">

  <img src="/assets/images/employee.png"/>

</div>
<div class="flexBox">
  <div>
    <button mat-raised-button color="primary" (click)="onEmployeeRegistration()">Employee Registration</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="listEmployees()">Employee List</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="employeeById()">Employee By Id</button>
  </div>
</div>