.table{
    margin-top: 4vh;
}

mat-table{
    background-color: rgba(0, 0, 0, 0.37);
}

.title{
    text-align: center;
    color: antiquewhite;
}

.error{
    text-align: center;
    color: beige;
    font-size: 1.5em;
    margin-top: 2vh;
}